.transactionCard{
    display: flex;
    flex-direction: column;
    direction: rtl;
    width: 20rem;
}
.transactionList{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cardLeft{
    direction: ltr;
}
.buildingInfo{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}