.headerfinance {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.headerfirst {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 .4rem;
}
.headerfirst h1 {
  font-size: 1rem;
}
.buttonstyle {
  width: 100%;
  height: 2.5rem;
}
