@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Vazirmatn", sans-serif;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  overscroll-behavior-y: none;
}
li {
  list-style: none;
}
.globalprofile-name {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe83;
  border-radius: 1rem;
  width: 21rem;
  height: 3rem;
}

.mainglobalinpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.headerglobalstyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 0;
  gap: 1rem;
}
.buttonglobalstyle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.globallightbackground {
  background-color: #fefefed3;
  padding: 0 1rem;
  border-radius: 0.6rem;
}
.loadingtext {
  text-align: center;
}

.hide-scrollbar {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.backgroundcolor {
  background-color: #d5b17288;
}
.globalpageheader {
  font-size: 1rem;
}
.globalpageform {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.globalcenterpage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.edit-member-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(54, 54, 54, 0.882);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/*.edit-member-modal {
  width: 90%;
  max-width: 37.5rem;
  height: 100%;
  max-height: 27rem;
  background: #d9d9d9df;
  box-shadow: 5px 5px 13px rgb(46, 46, 46);
  border-radius: 1.2rem;
  padding: 1.4rem;
}
  */
.searcHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1rem;
}

.fileinput input {
  display: none;
}

.fileinput label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 21rem;
  height: 2.55rem;
  border-radius: 1rem;
  cursor: pointer;
  background: #d5b1726f;
  transition: 0.2s;
}

.cart {
  max-width: 100%;
  width: 20rem;
}
.cartrow {
  display: grid;
  grid-template-columns:1fr 9rem ;
  text-align: right;
  gap: .3rem;
}
.cartrowflex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cartrow strong {
  grid-column: 2;
  grid-row: 1;
}

.cartrow p,
.cartrow span {
  grid-column: 1;
   grid-row: 1;
  word-break: break-word;
}


.listcart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.borderbottom {
  border-bottom: 1px solid black;
}

.longText {
  flex: 1;
  text-align: right;
}
